@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


#header_section{
    background-image: url("./pages/bg-1.jpg");
    background-position: center;
    background-size: contain;
}

#card {
    background-image: url("./pages/bg2.jpg");
    background-position: center;
    background-size: cover;
}

#om:hover{

    animation: ombutton 6s linear infinite;

}

@keyframes ombutton {
    50%{
        transform: translateY(-10px);
    }
}